<nav data-controller="sidebar-new-board" data-sidebar-new-board-target="sidebar" 
  class="bg-gray-200 bg-opacity-100 w-5/6 md:w-2/6 lg:w-1/6 space-x-2 
  <%= "slide_sidebar" if current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed" %>
  overflow-y-auto max-h-[calc(100vh)] justify-between"              
  style="overflow-y: hidden;">
    

        <div role="button" data-action="click->sidebar-new-board#toggle"
        class="fixed"
          style="z-index: 1000000; overflow-y: hidden; justify-content: right; width: 100%; padding-left:10px">
            <i id="sidebar_buttom_slide"  
            class="fa-solid fa-angle-<%= (current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed") ? "right" : "left" %>
            " 
            style="color: #111d32;"></i>
        </div>

        <div id="board_sidebar_information"
        class="justify-between sticky h-[calc(100vh-120px)]" 
        style="padding-top:25px; overflow-y: auto; <%= (current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed") ? 'opacity: 0; transition: visibility 0ms linear 100ms, opacity 200ms; ': 'opacity: 1; transition: visibility 100ms linear 500ms, opacity 500ms;'%>">
          
          <div class="overflow-y-auto">
                <div class="top-2">
                <%= link_to "Workspaces", tenants_path, data:{turbo_stream: true} %>
                    <%#= link_to "Boards", select_all_tenant_boards_path(@current_tenant_id), data:{turbo_stream: true} %>
                </div> 
                <div class="top-2">
                    <%#= link_to "Members", select_all_tenant_members_path(@current_tenant_id), data:{turbo_stream: true} %>
                </div> 
                <div class="top-2">
                    <h1>YOUR BOARDS:</h1>
                    <% current_user.tenants.each do |tenant| %>

                      <% tenant.boards.each do |board| %>

                        <%= link_to board.name, board_path(board) %><br>   

                      <% end %>

                    <% end %>  
                </div>                        

          </div>

    </div>

</nav> 

  <div id="turbo_page_update" class="w-1/6 md:w-4/6 lg:w-5/6 flex-grow overflow-y-auto max-h-[calc(100vh-80px)]" 
  style="overflow-y: hidden;">
      <div class="top-2">
        <div class="bg-gray-200 p-4 flex justify-between items-center">
        <div class="px-1">
            <div class="avatar_circle" style="width:28px; color:white">
              <%= @tenant.name.to_s[0].upcase %>
            </div>
          </div>
          <div id="sidebar_mobile_name" class="font-bold p-0 m-0 space-x-2" style="display: flex; flex-direction: column; flex: 1 1 0%; overflow: hidden; ">
            <%= @tenant.name %>          
          </div>
          <div id="sidebar_mobile_new_list" class="flex">
              <div class="hidden md:flex sm:flex">
                <%= render partial: "boards/form_search", locals: {} %>
              </div>
              <div class="px-1">
              <%= link_to "Edit Workspace", edit_tenant_path(@tenant), data: {turbo_frame: "modal"}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
                  <%#= link_to "New Workspace", new_tenant_path, data: {turbo_frame: "modal"},  class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>              
                <%#= link_to "New list", "/boards/#{@board.id}/lists/new", data: {turbo_frame: "modal"}, class: "space-x-2 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium;" %>
              </div>
              <div>
                <%= button_to "Delete Workspace", tenant_path(@tenant), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
              </div>

            <div>
          </div>
        </div>
      </div>

      <div class="flex flex-row h-[calc(100v-150px)] p-2 overflow-y-auto">                      
        <%# data-controller="turboload" data-turboload-target="turboload" %>
        <div  id="tenant" class="flex flex flex-col md:flex-row overflow-y-auto overflow-x-auto  w-10/12 md:w-4/6 lg:px-40" 
        style="display: flex; flex-direction: column; flex: 1 1 0%; overflow-y: auto; overflow-x: auto;">

          <%= render partial: "layouts/tenant_headers/tenant_content", locals: {tenant: @tenant} %>
        
        </div>
      
      </div>
    </div>
  </div>




