
<%#= @positions %>
<br>
<%= form_with(model: task, class: "contents") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
        <%= form.label :cover_image %>
          <% if task.cover_image.present?%>

            <div id="<%= dom_id(task, :cover_image) %>">          
              <%= image_tag task.cover_image, class:"w-1/3" %>
            </div>
            <%= link_to "Delete Cover Image", task_cover_image_path(task), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are You sure?"}, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
          <%end%>
        <%= form.file_field :cover_image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-controller="task">
    <div class="my-5" >
      <%= form.label :board_id %>
      <%= form.select :board_id, @list_boards.map{|el| [el[1], el[0]] }, {prompt: "Select position", :selected => @cur_board_id}, {class:'form-select', data: {action: "change->task#changeBoard"} } %>
    </div>

    <div class="my-5" >
      <%= form.label :list_id %>    
      <%= form.select :list_id, @selected_board_lists.map{|el| [el[1], el[0]] }, {prompt: "Select position", :selected => @task.list_id}, {class:'form-select', data: { task_target: "listsSelect", action: "change->task#changeList"} } %>
    </div>

    <% if @positions.length > 0 %>
      <div class="my-5" >
        <%= form.label :task_id %>    
        <%= form.select :row_order, @positions.map{|el| [el[1], el[0]] }, {prompt: "Select position", :selected => @task.row_order}, {class:'form-select', data: { task_target: "tasksSelect"} } %>
      
      </div>
    <% end %> 

    <div class="inline" id="submit_button">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
