        <nav id="turbo_nav_update" data-controller="sidebar-board" data-sidebar-board-target="sidebar" 
          class="bg-gray-200 bg-opacity-100 w-5/6 md:w-2/6 lg:w-1/6 
          <%= "slide_sidebar" if current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed" %>
          overflow-y-auto max-h-[calc(100vh)] justify-between"              
          style='overflow-y: hidden;<% if @board.bg_color != "" %> background-color: <%= @board.bg_color %>FF<% end %>;
          <% if @board.font_color != "" %> color: <%= @board.font_color %><% end %>
          '>
                <div role="button" data-action="click->sidebar-board#toggle"
                  style="overflow-y: hidden; justify-content: right; width: 100%; ">
                    <i id="sidebar_buttom_slide"  
                    class="fa-solid fa-angle-<%= (current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed") ? "right" : "left" %>
                    " 
                    style="color: #111d32;<% if @board.font_color != "" %> color: <%= @board.font_color %><% end %>"></i>
                </div>
                <div id="board_sidebar_information"
                class="justify-between sticky h-[calc(100vh-120px)]" 
                style="overflow-y: auto; <%= (current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed") ? 'opacity: 0; transition: visibility 0ms linear 100ms, opacity 200ms; ': 'opacity: 1; transition: visibility 100ms linear 500ms, opacity 500ms;'%>">
                  
                  <div class="overflow-y-auto">

                        <div class="top-2">
                            <%= link_to "Workspaces", tenants_path, data:{turbo_stream: true} %>
                        </div> 
                        <div class="top-2">
                            <%= link_to @current_tenant.name, tenant_path(@current_tenant_id), data:{turbo_stream: true} %>
                        </div> 

                        <div class="top-2">
                            <%= link_to "Boards", select_all_tenant_boards_path(@current_tenant_id), data:{turbo_stream: true} %>
                        </div> 
                        <div class="top-2">
                            <%= link_to "Members", select_all_tenant_members_path(@current_tenant_id), data:{turbo_stream: true} %>
                        </div> 
                        <div class="top-2">
                            <h1>YOUR BOARDS:</h1>
                            <% @current_user_boards.each do |board| %>
                              <%= link_to board.name, board_path(board) %><br>        
                            <% end %>  
                        </div>                        

                  </div>

            </div>
        </nav> 
        
        <div id="turbo_page_update" class="w-1/6 md:w-4/6 lg:w-5/6 flex-grow overflow-y-auto max-h-[calc(100vh-80px)]" 
         style="overflow-y: hidden;">
              <div class="top-2" >
                <div class="bg-gray-200 p-4 flex justify-between items-center" 
                style='overflow-y: hidden; <% if @board.bg_color != "#e5e7eb" %>background-color:<%= @board.bg_color %><% end %>;
                <% if @board.font_color != "#000000" %> color: <%= @board.font_color  %><% end %>
                '>
                  <div id="sidebar_mobile_name" class="font-bold p-0 m-0 space-x-2" style="display: flex; flex-direction: column; flex: 1 1 0%; overflow: hidden; "><%= @board.name %></div>
                  <div id="sidebar_mobile_new_list" class="flex">                
                    <%# <div class="md:hidden" role="button" data-action="click->navbar#toggle" >
                      &#9776;
                    </div> %>
                    <div class="hidden md:flex sm:flex">
                      <%= render partial: "form_search", locals: {} %>
                    </div>
                    <div class="px-1">
                      <%= link_to "New list", "/boards/#{@board.id}/lists/new", data: {turbo_frame: "modal"}, class: "space-x-2 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium;" %>
                    </div>
                    <div class="px-1">
                      <%= link_to "Edit Board", edit_board_path(@board), data: {turbo_frame: "modal"}, class: "space-x-2 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium;" %>
                    </div>
                    <div class="px-1">
                      <%= link_to "Delete Board", "/boards/#{@board.id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "space-x-2 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium;" %>
                    </div>

                      <%= content_tag(:div, "", data: {controller: "menu-drop"}, class:"sm:items-stretch sm:justify-start") do %>
                        <%= content_tag(:button, data: {action: "click->menu-drop#toggle"}, class: "inline-flex w-full justify-center text-sm font-small") do %>
                        <%# <i class="fa-regular fa-solid fa-circle-user fa-lg" style="color: #a66cfe; padding:0 5px 0 5px"></i> %>
                        <div class="avatar_circle inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" >
                            <%# <svg class="-mr-0 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="rgb(31 41 55)" aria-hidden="true">
                              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" 
                              clip-rule="evenodd" />
                            </svg> %>

                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
                            <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                            </svg>
                        </div>

                      <% end %>
                    

                      <!-- Dropdown menu -->
                      <div id="dropdown_menu_user" data-menu-drop-target="toggleable" 
                      class="fixed right-0 z-100000 hidden bg-white divide-y divide-gray-100 rounded-sm shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                       role="menu" aria-orientation="vertical" aria-labelledby="menu-button" style="z-index: 90000;"
                      >
                          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                            <li>
                              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                            </li>
                            <li>
                              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                            </li>
                          </ul>
                          <div class="py-2">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Separated link</a>
                          </div>
                      </div>
                    <% end %>
<%# 
                    <button data-dropdown-toggle="dropdownDots" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">

                    </button> %>


                  </div>
                </div>
              </div>

              <div class="flex flex-row h-[calc(100vh)] md:h-[calc(100vh-146px)] lg:h-[calc(100vh-150px)] p-2" 
              style='overflow-y: hidden;<% if @board.bg_color != "#e5e7eb" %>background-color:<%= @board.bg_color %>99<% end %>'>                      

                <div data-controller="turboload" data-turboload-target="turboload" id="lists" class="min-w-full flex flex flex-col md:flex-row overflow-y-hidden overflow-x-auto" style="display: flex; flex-direction: column; flex: 1 1 0%; overflow-y: hidden; overflow-x: auto;">
                  <div id="lists-sortable" class="list-disc" data-controller="sortable" style="display: flex;">
                    <% @board.lists.rank(:row_order).each do |list| %>
                      
                      <%#= list.board_id %>
                      <%#=  @board.id %>
                      <%# if list.board_id == @board.id%>
                        <div data-sortable-update-url="<%= sort_list_path(list.id) %>" id="sortable_list_<%= list.id%>" class="p-2 list_width" >
                          <%= render list %>
                        </div>
                      <%# end %>
                    <% end %>
                  </div>
                </div>
              </div>
        </div>




            

            
            
            
            <%# <div class="bg-white pt-0 pb-4 shadow-xl ring-2 ring-gray-900/5 mx-auto max-w-lg rounded-lg px-3 overflow-y-auto max-h-[calc(100vh)]"
              
              style="overflow-y: scroll;">

            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            </div>    
            <div class="w-1/6 md:w-4/6 lg:w-5/6 flex-grow overflow-y-auto max-h-[calc(100vh-150px)]" style="overflow-y: scroll;">

            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            </div>           %>
            



            
            <!-- 


            <div class="bg-white pt-0 pb-4 shadow-xl ring-2 ring-gray-900/5 mx-auto max-w-lg rounded-lg px-3 overflow-y-auto max-h-[calc(100vh)]"
              
              style="overflow-y: scroll;">

            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            </div>

            -->




            <%# <div class="w-1/6 md:w-4/6 lg:w-5/6 flex-grow overflow-y-auto max-h-[calc(100vh-150px)]" style="overflow-y: scroll;">

            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            fff<br><br><br><br><br><br><br><br><br><br>fff<br><br>
            </div> %>

            <!--



 -->
           


            


     





