                  
          <nav data-controller="sidebar-board" data-sidebar-board-target="sidebar" class="bg-gray-200 bg-opacity-100 w-5/6 md:w-2/6 lg:w-1/6  md:flex flex-col text-center p-4 justify-between sticky transition-all duration-500 transform
          <%= "slide_sidebar" if current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed" %>" >
            <div>
              <div role="button" data-action="click->sidebar-board#toggle"><i id="sidebar_buttom_slide"  class="fa-solid fa-angle-<%= (current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed") ? "right" : "left" %>" style="color: #111d32;"></i></div>
              <%#= render "layouts/flash_board"%>  
                <%# if notice.present? %>
                <!-- <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p> -->
                <%# end %>
                <div id="board_sidebar_information" style="<%= (current_user.preference && current_user.preference[:sidebar_position] && current_user.preference[:sidebar_position] == "closed") ? 'opacity: 0; transition: visibility 0ms linear 100ms, opacity 200ms; ': 'opacity: 1; transition: visibility 100ms linear 500ms, opacity 500ms;'%>">
                  preference: <%= (current_user.preference && current_user.preference[:sidebar_position]) ? current_user.preference[:sidebar_position] : "no preferences" %>
                  <%= render @board %>
                
                </div>
            </div>

            <div></div>
          </nav>

          <div class="w-1/6 md:w-4/6 lg:w-5/6 flex-grow">
            <div class="sticky top-2 z-12">

              <nav class="bg-gray-200 p-4 flex justify-between items-center"> 

                <div class="font-bold text-2xl"><%= @board.name%></div>
                <div class="flex space-x-1">
                  <%# <div class="md:hidden" role="button" data-action="click->navbar#toggle" >
                    &#9776;
                  </div> %>
                  <div class="space-x-2 mx-10">
                    <%= render partial: "form_search", locals: {} %>
                  </div>
                  <div class="space-x-2">
                    <%= link_to "New list", "/boards/#{@board.id}/lists/new", data: {turbo_frame: "modal"}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
                  </div>
                </div>
              </nav>
            </div>            

          
            <div class="flex flex-row h-[calc(100vh-150px)] md:h-[calc(100vh-146px)] lg:h-[calc(100vh-146px)] p-2">                      

              <div id="lists" class="min-w-full flex flex flex-col md:flex-row overflow-y-hidden overflow-x-auto" style="display: flex; flex-direction: column; flex: 1 1 0%; overflow-y: hidden; overflow-x: auto;">
                <div id="lists-sortable" class="list-disc" data-controller="sortable" style="display: flex">
                  <% @board.lists.rank(:row_order).each do |list| %>
                    <!-- <li data-sortable-id="<%= list.id %>"> -->
                    <%#= list.board_id %>
                    <%#=  @board.id %>
                    <%# if list.board_id == @board.id%>

                      <div data-sortable-update-url="<%= sort_list_path(list.id) %>" id="sortable_list_<%= list.id%>" style="min-width:300px" class="p-2" >
                        <%= render list %>
                      </div>
                    <%# end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
                <%# if notice.present? %>
                  <!-- <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p> -->
                <%# end %>
  
                <%#= link_to "Edit this board", edit_board_path(@board), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                <%# <div class="inline-block ml-2"> %>
                  <%#= button_to "Destroy this board", board_path(@board), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
                <%# </div> %>
                <%#= link_to "Back to boards", boards_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
              



